/* styles.css */

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

#canvas {
    background-color: white;
    border: 2px solid black;
}

.hexagon {
    position: relative;
    width: 400px; /* 크기를 조정합니다 */
    height: 400px; /* 크기를 조정합니다 */
}

.hexagon:before,
.hexagon:after {
    content: '';
    position: absolute;
    border: 100px solid transparent;
}

.hexagon:before {
    border-bottom: 173.2px solid #FF0000; /* 색상을 원하는 색상으로 변경 */
    border-top: none;
    top: -33.2px;
    left: -100px;
}

.hexagon:after {
    border-top: 173.2px solid #FF0000; /* 색상을 원하는 색상으로 변경 */
    border-bottom: none;
    bottom: -33.2px;
    left: -100px;
}
